.Qall{
    display: flex;
    background-color: var(--third-color);
    gap: 1px;
    border-radius: 6px;
}
.seachIn{
    display: flex;
    height: 60px;
    flex: 1.2;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
}
.filterIn{
    display: flex;
    height: 60px;
    flex: 0.95;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
}
.checkIn{
    display: flex;
    height: 60px;
    flex: 0.95; 
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.cheeck{
    display: flex;
    align-items: center;
    gap: 15px;
}
.Sicon{
    width: 20px;
}
.Licon{
    width: 15px;
}
.searchInput{
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
}
.searchInput::placeholder{
    font-size: 14px;
}
.Cinput{
    width: 18px;
    height: 18px;
    border: 1px solid rgb(243, 243, 243);
    background-color: var(--primary-color);
    cursor: pointer;
}
.Qlable{
    font-size: 14px;
    font-weight: 700;
}
